**단계 1:** 전처리에 사용할 패키지 로드

In [1]:
# 데이터 통합을 위해서 pandas를 사용합니다.
# pandas의 DataFrame 객체를 사용하여 진행합니다.

import pandas as pd
from pandas import DataFrame

In [2]:
# 연결 (Concatenatinv)에 사용할 데이터를 선업합니다. 

df_1 = pd.DataFrame({'A': ['A0', 'A1', 'A2'],
'B': ['B0', 'B1', 'B2'],
'C': ['C0', 'C1', 'C2'],
'D': ['D0', 'D1', 'D2']},
index=[0, 1, 2])

df_2 = pd.DataFrame({'A': ['A3', 'A4', 'A5'],
'B': ['B3', 'B4', 'B5'],
'C': ['C3', 'C4', 'C5'],
'D': ['D3', 'D4', 'D5']},
index=[3, 4, 5])

**단계 2:** 간단한 연결 (row/colmun-bind)

In [3]:
# 연결을 하기 위해서 pandas.concat (data1, data2, axis) 함수를 사용합니다.
# axis는 연결을 어떠한 방법으로 할 것인지를 의미하며, 0이면 row-bind, 1이면 column-bind를 진행합니다.
# df_1과 df_2가 row-bind 기준으로 결합이 되도록 합니다.

df_12_axis0 = pd.concat([  ,    ]) # row bind : axis = 0, default

In [4]:
df_12_axis0

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
4  A4  B4  C4  D4
5  A5  B5  C5  D5

In [6]:
df_3 = pd.DataFrame({'E': ['A6', 'A7', 'A8'],
'F': ['B6', 'B7', 'B8'],
'G': ['C6', 'C7', 'C8'],
'H': ['D6', 'D8', 'D8']},
index=[0, 1, 2])

In [7]:
# df_1과 df_3가 column-bind 기준으로 결합이 되도록 합니다.

df_13_axis1 = pd.concat([df_1, df_3], axis=1) # column bind
df_13_axis1

    A   B   C   D   E   F   G   H
0  A0  B0  C0  D0  A6  B6  C6  D6
1  A1  B1  C1  D1  A7  B7  C7  D8
2  A2  B2  C2  D2  A8  B8  C8  D8

In [9]:
df_4 = pd.DataFrame({'A': ['A0', 'A1', 'A2'],
'B': ['B0', 'B1', 'B2'],
'C': ['C0', 'C1', 'C2'],
'E': ['E0', 'E1', 'E2']},
index=[0, 1, 3])

**단계 3:** 다양한 연결 옵션

In [10]:
# pandas.concat()함수에는 두개의 데이터 프레임을 합칠때 다양한 옵션을 제공합니다.
# 옵션은 join에 해당되는 값이며, inter (교집합), outer (합집합)을 의미합니다.
# 아래의 예제에서는 outer를 사용하여 합쳐보세요.

df_14_outer = pd.concat([df_1, df_4], join=    ) # union, default
df_14_outer

/Library/Python/3.7/site-packages/ipykernel_launcher.py:5: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """

    A   B   C    D    E
0  A0  B0  C0   D0  NaN
1  A1  B1  C1   D1  NaN
2  A2  B2  C2   D2  NaN
0  A0  B0  C0  NaN   E0
1  A1  B1  C1  NaN   E1
3  A2  B2  C2  NaN   E2

In [12]:
# 아래의 예제에서는 inner를 사용하여 합쳐보세요.

df_14_inner = pd.concat([df_1, df_4], join='inner') # intersection
df_14_inner

    A   B   C
0  A0  B0  C0
1  A1  B1  C1
2  A2  B2  C2
0  A0  B0  C0
1  A1  B1  C1
3  A2  B2  C2

**단계 4:** 데이터 프레임의 인덱스 중복 여부 점검

In [13]:
# index 중복성 여부 점검을 위해 사용할 데이터를 선업합니다.

df_7 = pd.DataFrame({'A': ['A0', 'A1', 'A2'],
'B': ['B0', 'B1', 'B2'],
'C': ['C0', 'C1', 'C2'],
'D': ['D0', 'D1', 'D2']},
index=['r0', 'r1', 'r2'])

df_8 = pd.DataFrame({'A': ['A2', 'A3', 'A4'],
'B': ['B2', 'B3', 'B4'],
'C': ['C2', 'C3', 'C4'],
'D': ['D2', 'D3', 'D4']},
index=['r2', 'r3', 'r4'])

In [14]:
# 서로 다른 데이터 프레임의 연결을 위해서는 pandas.concat()을 사용합니다.
# 이때, 옵션으로 verify_integrity를 사용하여 인덱스 중복 여부를 점검 할 수 있습니다.
# verify_integrity=false로 하면, 중복이 되는 부분이 있어서 그냥 진행합니다.

df_78_F_verify_integrity = pd.concat([df_7, df_8], verify_integrity=False) # default
df_78_F_verify_integrity

     A   B   C   D
r0  A0  B0  C0  D0
r1  A1  B1  C1  D1
r2  A2  B2  C2  D2
r2  A2  B2  C2  D2
r3  A3  B3  C3  D3
r4  A4  B4  C4  D4

In [15]:
# verify_integrity=true로 하면, 어떤 일이 일어날까요 ?

df_78_F_verify_integrity = pd.concat([df_7, df_8],           )

ValueError: Indexes have overlapping values: Index(['r2'], dtype='object')