**단계 1:** 전처리에 사용할 패키지 로드

In [2]:
import pandas as pd

In [9]:
# 데이터 중복에 사용할 데이터 선언

data = {'key1':['a', 'b', 'b', 'c', 'c'],
'key2':['v', 'w', 'w', 'x', 'y'],
'col':[1, 2, 3, 4, 5]}

df = pd.DataFrame(data, columns=['key1','key2','col'])
df

  key1 key2  col
0    a    v    1
1    b    w    2
2    b    w    3
3    c    x    4
4    c    y    5

In [4]:
# pandas.duplicated (key)는 중복 여부를 확인하는 함수입니다.
# Key값은 중복의 기준이 되는 키값을 의미합니다.
# 예를들어 key1이라고 설정이 되어 있이면, key1를 기준으로 중복되는 값을 체크합니다.
# 여기서는 key1을 기준으로 합니다.
 
df.duplicated([   ])

0    False
1    False
2     True
3    False
4     True
dtype: bool

In [5]:
# Key 값이 두개가 존재한다면, 두개의 키값을 기준으로 중복되는 값을 체크합니다.
# 여기서는 key1, key2을 기준으로 합니다.
 
df.duplicated([   ,    ])

0    False
1    False
2     True
3    False
4    False
dtype: bool

In [12]:
# pandas.drop_duplicates(key value, keep)는 중복되는 값을 제거합니다.
# 이때 keep 옵션은 중복이 있다면 처음과 마지막 값 중에서 무엇을 남길 것인지를 의미합니다.
# 여기서는 first로 하여 처음에 해당되는 값을 남김니다.

df.drop_duplicates(['key1'], keep='first')

  key1 key2  col
0    a    v    1
1    b    w    2
3    c    x    4

In [13]:
# 여기서는 last 하여 마지막에 해당되는 값을 남김니다.

df = pd.DataFrame(data, columns=['key1','key2','col'])
df.drop_duplicates(['key1'], keep='last')

  key1 key2  col
0    a    v    1
2    b    w    3
4    c    y    5

In [19]:
# 여기서는 first로 하여 처음에 해당되는 값을 남김니다.

df = pd.DataFrame(data, columns=['key1','key2','col'])
df.drop_duplicates(['key1'], keep=False)

  key1 key2  col
0    a    v    1